/* Global font declarations */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Font embedding for Myanmar fonts */
@font-face {
  font-family: "Zawgyi-One";
  src: url("/assets/fonts/ZawgyiOne.ttf") format("truetype");
}

@font-face {
  font-family: "Myanmar3";
  src: url("/assets/fonts/Myanmar3.ttf") format("truetype");
}

@font-face {
  font-family: "Pyidaungsu";
  src: url("/assets/fonts/Pyidaungsu.ttf") format("truetype");
}
