/* Font embedding */
@font-face {
  font-family: "Zawgyi-One";
  src: url("/assets/fonts/ZawgyiOne.ttf") format("truetype");
}

@font-face {
  font-family: "Myanmar3";
  src: url("/assets/fonts/Myanmar3.ttf") format("truetype");
}

@font-face {
  font-family: "Pyidaungsu";
  src: url("/assets/fonts/Pyidaungsu.ttf") format("truetype");
}
